{:deps {org.clojure/clojure    {:mvn/version "1.11.1"}
        cheshire/cheshire      {:mvn/version "5.10.2"}
        org.clojure/tools.logging {:mvn/version "1.2.4"}
        java-http-clj/java-http-clj {:mvn/version "0.4.3"}
        }
 :paths ["src" "resources"]
 :aliases
 {:bb {:extra-deps {org.babashka/spec.alpha {:git/url "https://github.com/babashka/spec.alpha"
                                             :git/sha "433b0778e2c32f4bb5d0b48e5a33520bee28b906"}}}
  :test {:extra-paths ["test"]
         ; This is a simplistic test runner but it’s sufficient for now.
         :extra-deps {test-runner/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                               :sha "cc75980b43011773162b485f46f939dc5fba91e4"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
